.route-indicator {
    background: #1e4d88;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #c25033;
}

.route-indicator-green {
    color: black;
    background: green;
}

.route-indicator-yellow {
    color: black;    
    background: yellow;
}

.route-indicator-red {
    color: black;    
    background: red;
}

.route-indicator-blue {
    color: white;    
    background: blue;
}

.route-indicator-orange {
    color: black;    
    background: orange;
}