@import '../../styles/routes';

.route-indicator {
    background: $bus-blue !important;
    height: 21px;
    min-width: 18px;
    vertical-align: middle;
    text-align: center;
    color: white !important;
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #c25033;
    padding-left: 2px;
    padding-right: 2px;
}

.train-route-indicator {
    margin-right: 5px;
}

.route-indicator-green {
    color: black;
    background: $green !important;
    border: 2px solid $green !important;
}

.route-indicator-yellow {
    color: black;
    background: $yellow !important;
    border: 2px solid $yellow !important;
}

.route-indicator-red {
    color: black;
    background: $red !important;
    border: 2px solid $red !important;
}

.route-indicator-blue {
    color: white;
    background: $blue !important;
    border: 2px solid $blue !important;
}

.route-indicator-orange {
    color: black;
    background: $orange !important;
    border: 2px solid $orange !important;
}

.route-indicator-lightgreen {
    color: white;
    background: $light-green !important;
    border: 2px solid $light-green !important;
}

.route-indicator-pink {
    color: white;
    background: $pink !important;
    border: 2px solid $pink !important;
}

.route-indicator-cyan {
    color: white;
    background: $cyan !important;
    border: 2px solid $cyan !important;
}
