.stop-location-indicator-link {
    text-decoration: none;
}

.stop-location-indicator {
    background: #4264fb;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}
