.route-header {
    background: rgb(255,255,255, 0.80);
    border-radius: 5px 5px 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    position: relative;
    display: flex;
    margin-bottom: 5px;
}
