.route-indicator-column {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 30px;
}

.arrivals-table th, .arrivals-table td {
    padding: 5px;
    text-align: left;
}

.arrival-on-time {
    color: green;
}
.arrivals-loading {
    opacity: 0.3;
}

.arrivals-wrapper {
    position: relative;
}