.bookmark-section h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

button.close-button {
    background: grey;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button.close-button:hover {
    background: darkgrey;
}
