.bookmark-section {
    position: relative;
}

.bookmark-section-remove-button {
    position: absolute;
    right: 55px;
    top: 7px;
}

ul.bookmark-section-bookmarks {
    list-style: none;
    padding: 0;
    marging: 0;
}

.bookmark-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.bookmark-stop-flex-item {
    flex-grow: 3
}

.bookmark-remove-flex-item {
    padding-left: 10px;
}

.bookmark-section-add-more {
    text-align: center;
    color: white;
}

.bookmark-stop-wrapper {
    margin-bottom: 10px;
}