#bookmarks-view-container {
    padding: 10px;
}

.bookmark-section-message {
    background: rgba(0,0,0, 0.2);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.bookmark-section {
    background: rgba(0,0,0, 0.10);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
