.bookmark-section-message {
    background: darkslategrey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bookmark-section {
    background: rgb(0,0,0, 0.10);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
