.bookmark-section {
    position: relative;
}

.bookmark-section-remove-button {
    /* position: absolute; */
    /* right: 55px; */
    /* top: 7px; */
}

ul.bookmark-section-bookmarks {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.bookmark-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.bookmark-stop-flex-item {
    flex-grow: 3
}

.bookmark-remove-flex-item {
    padding-left: 10px;
}

.bookmark-section-add-more {
    text-align: center;
    color: white;
    font-size: 14px;
}

.bookmark-stop-wrapper {
    margin-bottom: 10px;
}

.bookmark-section-bookmarks li:last-child .bookmark-stop-wrapper {
    margin-bottom: 0px;
}   