.view-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    align-content: stretch;
}

.view-header-menu-item {
    color: black;
    line-height: 30px;
    flex-grow: 1;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);
    font-weight: bold;
    text-decoration: none;
}

.view-header-menu-item.active {
    background: rgba(255, 255, 255, 0.80);
}

.view-header-menu-item:hover {
    background: rgba(255, 255, 255, 0.50);
}

.bookmark-icon {
    margin-right: 8px;
}
