.skeleton-inline {
  display: inline-block;
  min-width: 60px;
}

.skeleton-inline-mr {
  margin-right: 8px;
  min-width: 80px;
}

.skeleton-line.w-40 {
  min-width: 80px;
}

.skeleton-line.w-50 {
  min-width: 100px;
}

.skeleton-line.w-60 {
  min-width: 120px;
}

.skeleton-line.w-80 {
  min-width: 200px;
}
