.route-cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.route-card {
    margin-bottom: 0;
}

.route-card-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 14px;
}

.route-description {
    flex: 1;
}

.route-description-divider {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
