.header-router-indicator {
    margin-right: 5px;
}

.stop-info-header {
    flex: 4;
    margin-bottom: 1rem;
}

.stop-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stop-distance {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.serving-label {
    line-height: 22px;
    font-size: 14px;
}
