.stops {
  background: #F7F9F9;
  margin-bottom: 15px;
}

.stops-header {
  background: #E0D0C1;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

table {
  width: 100%;
}

table th, table td {
  padding: 5px;
  text-align: left;
}