body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #00A676;
  background-image: url('assets/images/umit-aslan-728189-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.main-view {
  padding: 10px;
}

body button {
  padding: 0;
  margin: 0;
}

.group-menu-item {
  padding-left: 7px;
  padding-right: 7px;
}

.group-menu-item.enabled {
  background: rgb(0,0,0, 0.80)
}

.group-menu-item:first-child {
  border-radius: 5px 0 0 5px;
}

.group-menu-item:last-child {
  border-left: 1px solid black;
  border-radius: 0 5px 5px 0;
}

.group-menu-item:only-child {
  border-radius: 5px 5px 5px 5px;
  border-left: none;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-current {
  background-image: url('location.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-map {
  margin-bottom: 10px;
}
