body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #00A676;
  background-image: url('./images/umit-aslan-728189-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

main.main-view {
  padding: 10px;
}

body button {
  padding: 0px;
  margin: 0px;
}

.group-menu-item {
  padding-left: 7px;
  padding-right: 7px;
}

.group-menu-item.enabled {
  background: rgb(0,0,0, 0.80)
}

.group-menu-item:first-child {
  border-radius: 5px 0px 0px 5px;
}

.group-menu-item:last-child {
  border-left: 1px solid black; 
  border-radius: 0px 5px 5px 0px;
}

.group-menu-item:only-child {
  border-radius: 5px 5px 5px 5px;
  border-left: none;
}