.modal-wrapper {
    background: white;
    min-width: 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.flex-stops {
    order: 0
}

.flex-info {
    order: 1;
    flex-grow: 1;
    padding-left: 20px;
}

.modal-content {
    padding: 5px;
}